<div class="token-description">
  <%= label_tag :title, '¡Token generado correctamente!' %><br/>
  <%= text_field_tag :token, token, class: 'form-control' %>
  <br/>
  <%= link_to 'Volver', shipment_publications_path, class: 'btn btn-success'  %>
</div>