<% if model.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= "El formulario contiene #{model.errors.count} #{(model.errors.count == 1)? 'error' : 'errores'}" %>.
      </div>
      <ul>
        <% model.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>