¡Hola <%= @carrier_name %>!

¡Felicitaciones! El usuario "<%= @user_name %>" ha seleccionado tu oferta para la publicación "<%= @shipment_publication_title %>"

Para ver esta oferta ingresa <a href="<%= @shipment_publication_url %>">aquí</a>.

¡Gracias por confiar en eCarriers!