<p>Hola <%= @resource.email %>!</p>

<p>Has pedido un cambio de contraseña para tu cuenta de eCarriers. Podés hacerlo a través del link a continuación:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has pedido un cambio de contraseña, por favor ignorá este email.</p>
<p>Tu contraseña no será modificada hasta que ingreses a este link y crees una nueva.</p>