<div class="footer-dashboard" id="footer", style="margin-top: 25px;">
  <h2 style="text-align: center; margin-bottom: 1em;">
    <!--<small>eCarriers</small>-->
    <%= image_tag 'isologo_blue_3.png' %>
  </h2>
</div>