<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag 'logo_310.png', class: 'img-responsive', alt: '' %>
        <!-- img class="img-responsive" src="img/profile.png" alt="" -->
        <div class="intro-text">
          <!-- <span class="name" style="text-transform: none">eCarriers</span> -->
          <%= image_tag 'isologo_blue_10.png', class: 'img-responsive', alt: '' %>
          <!-- <hr class="star-light"> -->
          <span class="skills">¡Consigue y ofrece transporte!<br>
          Regístrate para acceder a nuestros servicios</span>
        </div>
      </div>
    </div>
  </div>
</header>